body{

filter: blur(20);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex-direction: column;
}

form{
width: 600px;
border: 2px solid rgb(0, 0, 0);
padding: 10rem;

background-color: rgb(0, 0, 0);
border-radius: 20px;
color: rgb(255, 255, 255);


}

h1{
display: block;
border: 2px solid rgb(0, 0, 0);
border: none;
color: rgb(0, 0, 0);
padding: 10px;
border-radius: 10px;

}

h2{
    display: block;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    border: none;

}

label{
color: rgb(255, 255, 255);
font-size: 18px;
padding: 10px;
font-weight:300;
}

button{
    float: right;
    background-color: aquamarine;
    padding: .5rem;
    border: none;
    width: 40%;
    border-radius: 5px;
    margin-right: 5px;
}

button:hover{
background-color: white;

}

a{
float: left;
margin-left: 10px;
text-decoration: none;
border: 2px solid rgb(255, 255, 255);
background-color: white;
}

a:hover{
color: white;

}

input{
display: block;
border: 2px solid black;
width: 95%;
padding: 10px;
margin :10px;
border-radius: 10px;
}

.error{
background-color: red;
color: black;
padding: 10px;
width: 95%;

}

